# python==3.11.9
Django==5.2.5
djangorestframework==3.14.0
celery==5.3.4
redis==5.0.1
python-docx==1.1.0
requests==2.31.0
python-dotenv==1.0.0
Pillow
gunicorn==21.2.0
whitenoise==6.6.0
dj-database-url==2.1.0
pip>=25.2
setuptools>=68
wheel>=0.40
Django
psycopg2-binary
psycopg2

